In [1]:
from dataprepare.dataprep import *
import pandas as pd

In [2]:
# import battery dataset, may have to change path
df_battery = pd.read_csv('../data/Battery_Dataset.csv')

In [3]:
# one hot encode the anode, cathode, and electrolyte columns of battery data set
df_encoded_ACE = ohe_ACE(df_battery)
df_encoded_ACE

       0    1    2    3    4    5    6
0    1.0  1.0  0.0  0.0  1.0  0.0  0.0
1    1.0  1.0  0.0  0.0  1.0  0.0  0.0
2    1.0  1.0  0.0  0.0  1.0  0.0  0.0
3    1.0  1.0  0.0  0.0  1.0  0.0  0.0
4    1.0  1.0  0.0  0.0  1.0  0.0  0.0
..   ...  ...  ...  ...  ...  ...  ...
315  1.0  0.0  0.0  1.0  0.0  1.0  0.0
316  1.0  0.0  0.0  1.0  0.0  1.0  0.0
317  1.0  0.0  0.0  1.0  0.0  1.0  0.0
318  1.0  0.0  0.0  1.0  0.0  1.0  0.0
319  1.0  0.0  0.0  1.0  0.0  1.0  0.0

[320 rows x 7 columns]

In [4]:
#Attached encoded section to main data set
df_enbattery = ohe_dataframe(df_battery)
df_enbattery

,A1,C1,C2,C3,E1,E2,E3,cell_id,study,Cycles,...,Min_Current (A),Max_Current (A),Min_Voltage (V),Max_Voltage (V),Charge_Capacity (Ah),Discharge_Capacity (Ah),Charge_Energy (Wh),Discharge_Energy (Wh),Coulombic_Efficiency (%),Energy_Efficiency (%)
0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,SNL_18650_LFP_15C_0-100_0.5-1C_a,snl,"4,551.00",...,-1.1,0.55,1.998,3.6,1.036,1.033,3.495,3.213,99.710425,91.931330
1,1.0,1.0,0.0,0.0,1.0,0.0,0.0,SNL_18650_LFP_15C_0-100_0.5-1C_a,snl,"4,551.00",...,-1.1,0.55,1.996,3.6,1.035,1.032,3.492,3.212,99.710145,91.981672
2,1.0,1.0,0.0,0.0,1.0,0.0,0.0,SNL_18650_LFP_15C_0-100_0.5-1C_a,snl,"4,551.00",...,-1.1,0.55,1.998,3.6,1.034,1.031,3.488,3.210,99.709865,92.029817
3,1.0,1.0,0.0,0.0,1.0,0.0,0.0,SNL_18650_LFP_15C_0-100_0.5-1C_a,snl,"4,551.00",...,-1.1,0.55,1.994,3.6,1.033,1.030,3.490,3.193,99.709584,91.489971
4,1.0,1.0,0.0,0.0,1.0,0.0,0.0,SNL_18650_LFP_15C_0-100_0.5-1C_a,snl,"4,551.00",...,-1.1,0.55,1.998,3.6,1.031,1.028,3.495,3.169,99.709020,90.672389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,1.0,0.0,0.0,1.0,0.0,1.0,0.0,SNL_18650_NMC_35C_0-100_0.5-2C_a,snl,786,...,-6.0,1.50,1.996,4.2,2.529,2.527,9.814,8.388,99.920917,85.469737
316,1.0,0.0,0.0,1.0,0.0,1.0,0.0,SNL_18650_NMC_35C_0-100_0.5-2C_a,snl,786,...,-6.0,1.50,1.994,4.2,2.518,2.506,9.769,8.332,99.523431,85.290204
317,1.0,0.0,0.0,1.0,0.0,1.0,0.0,SNL_18650_NMC_35C_0-100_0.5-2C_a,snl,786,...,-6.0,1.50,1.995,4.2,2.484,2.482,9.650,8.197,99.919485,84.943005
318,1.0,0.0,0.0,1.0,0.0,1.0,0.0,SNL_18650_NMC_35C_0-100_0.5-2C_a,snl,786,...,-6.0,1.50,1.995,4.2,2.477,2.478,9.617,8.208,100.040371,85.348861
319,1.0,0.0,0.0,1.0,0.0,1.0,0.0,SNL_18650_NMC_35C_0-100_0.5-2C_a,snl,786,...,-6.0,1.50,1.995,4.2,2.455,2.458,9.535,8.145,100.122200,85.422129

In [5]:
#Split data between train and test sets
train,test,X_train,y_train,X_test,y_test = data_split(df_battery, 0.2, 'Discharge_Capacity (Ah)', 66)
X_test

      A1   C1   C2   C3   E1   E2   E3  Cycle  temperature  discharge_crate
199  1.0  0.0  1.0  0.0  0.0  0.0  1.0    500           35              1.0
77   1.0  1.0  0.0  0.0  1.0  0.0  0.0    400           25              3.0
216  1.0  0.0  0.0  1.0  0.0  1.0  0.0    350           15              1.0
15   1.0  1.0  0.0  0.0  1.0  0.0  0.0    300           15              2.0
195  1.0  0.0  1.0  0.0  0.0  0.0  1.0    300           35              1.0
..   ...  ...  ...  ...  ...  ...  ...    ...          ...              ...
122  1.0  0.0  1.0  0.0  0.0  0.0  1.0    150           15              1.0
51   1.0  1.0  0.0  0.0  1.0  0.0  0.0    100           25              3.0
119  1.0  1.0  0.0  0.0  1.0  0.0  0.0    500           35              2.0
316  1.0  0.0  0.0  1.0  0.0  1.0  0.0    350           35              1.0
20   1.0  1.0  0.0  0.0  1.0  0.0  0.0     50           25              0.5

[64 rows x 10 columns]

In [6]:
#Standardize train and test sets
train,test,X_train,y_train,X_test,y_test = data_split(df_battery, 0.2, 'Discharge_Capacity (Ah)', 66)
X_train_scaled, X_test_scaled = data_scale(X_train, X_test)
X_test_scaled

,0,1,2,3,4,5,6,7,8,9
0,0.0,-0.649786,1.381699,-0.748983,-0.649786,-0.748983,1.381699,1.449166,1.521730,-0.479632
1,0.0,1.538968,-0.723747,-0.748983,1.538968,-0.748983,-0.723747,0.751823,-0.049088,1.712972
2,0.0,-0.649786,-0.723747,1.335144,-0.649786,1.335144,-0.723747,0.403152,-1.619906,-0.479632
3,0.0,1.538968,-0.723747,-0.748983,1.538968,-0.748983,-0.723747,0.054480,-1.619906,0.616670
4,0.0,-0.649786,1.381699,-0.748983,-0.649786,-0.748983,1.381699,0.054480,1.521730,-0.479632
...,...,...,...,...,...,...,...,...,...,...
59,0.0,-0.649786,1.381699,-0.748983,-0.649786,-0.748983,1.381699,-0.991535,-1.619906,-0.479632
60,0.0,1.538968,-0.723747,-0.748983,1.538968,-0.748983,-0.723747,-1.340206,-0.049088,1.712972
61,0.0,1.538968,-0.723747,-0.748983,1.538968,-0.748983,-0.723747,1.449166,1.521730,0.616670
62,0.0,-0.649786,-0.723747,1.335144,-0.649786,1.335144,-0.723747,0.403152,1.521730,-0.479632
63,0.0,1.538968,-0.723747,-0.748983,1.538968,-0.748983,-0.723747,-1.688878,-0.049088,-1.027783