In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy 
import os
# import seaborn as sns
# import scipy.stats as stats
import unittest

In [2]:
#Make sure you ran "Battry_Dataset" Notebook first
pd.set_option("display.max_rows", None, "display.max_columns", None)

df_battery = pd.read_csv('Battery_Dataset.csv')

In [3]:
desc = ['NMC', 50, 15, 1.0] #What I expect to come out of GUI

In [4]:
battery_anode = {
    0: 'Graphite'
}

battery_cathode = {
    0: 'LFP',
    1: 'NCA',
    2: 'NMC',
}

battery_electrolyte = {
    0: 'A123',
    1: 'Pan',
    2: 'LGC',
}

In [5]:
def cathode_class(description):
    for i in range(len(list(battery_cathode.values()))):
        j = 0
        for key, value in battery_cathode.items():
            if value in list(battery_cathode.values())[i] == description[j]:
                return(key)
        j += 1
cc = cathode_class(desc)

In [6]:
ec = list(battery_electrolyte.keys())

In [7]:
column_names = ['cathode','electrolyte','Cycle','temperature','discharge_crate']
X = pd.DataFrame(columns = column_names)

In [8]:
for i in range(len(list(battery_electrolyte.keys()))):
    X.loc[i] = [cc,ec[i],desc[1],desc[2],desc[3]]

In [9]:
X

   cathode  electrolyte  Cycle  temperature  discharge_crate
0      2.0          0.0   50.0         15.0              1.0
1      2.0          1.0   50.0         15.0              1.0
2      2.0          2.0   50.0         15.0              1.0